<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.marked.pixsee">

	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>

	<!--
		Add this permission to check which network access properties (e.g.
		active type: 3G/WiFi).
	-->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permiswsion.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>

	<!-- [START gcm_permission] -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<!-- Add this permission to allow opening network sockets. -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.USE_CREDENTIALS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.READ_PROFILE"/>
	<!--
	An applicationPackage + ".permission.C2D_MESSAGE" permission to prevent other Android applications
	from registering and receiving the Android application's messages.
	The permission name must exactly match this pattern—otherwise the
	Android application will not receive the messages.
	-->
	<permission android:name="com.marked.pixsee.permission.C2D_MESSAGE"/>

	<uses-permission android:name="com.marked.pixsee.permission.C2D_MESSAGE"/>
	<!-- [END gcm_permission] -->
	<uses-feature
		android:glEsVersion="0x00020000"
		android:required="true"/>
	<!--
		 The application requires a camera.

		 NOTE: Any application that requests the CAMERA permission but does not
		 declare any camera features with the <uses-feature> element will be
		 assumed to use all camera features (auto-focus and flash). Thus, the
		 application will not be compatible with devices that do not support
		 all camera features. Please use <uses-feature> to declare only the
		 camera features that your application does need. For instance, if you
		 request the CAMERA permission, but you do not need auto-focus or
		 flash, then declare only the android.hardware.camera feature. The
		 other camera features that you do not request will no longer be
		 assumed as required.
	-->
	<uses-feature android:name="android.hardware.camera"/>

	<application
		android:name=".Pixsee"
		android:allowBackup="true"
		android:backupAgent=".utility.TheBackupAgent"
		android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:restoreAnyVersion="true"
		android:theme="@style/AppTheme">
		<meta-data
			android:name="com.google.android.backup.api_key"
			android:value="AEdPqrEAAAAIXlfA424eD2M4mqdjjaZJPle-w0VOlc5DPPihAQ"/>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
		<meta-data android:name="com.facebook.sdk.ApplicationId"
				   android:value="@string/facebook_app_id"/>

		<activity
			android:name=".UserDefinedTargets.ImageTargets"
			android:configChanges="orientation|keyboardHidden"
			android:exported="true"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
		/>
		<activity
			android:name=".entry.AuthActivity"
			android:clearTaskOnLaunch="true"
			android:label="@string/title_activity_login"
			android:launchMode="singleTask"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".entry.EntryActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".friends.FriendsActivity"
			android:label="@string/title_contact_list"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".frienddetail.ChatDetailActivity"
			android:label="@string/title_contact_detail"
			android:parentActivityName=".friends.FriendsActivity"
			android:screenOrientation="portrait">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".frienddetail.ChatDetailActivity"/>
		</activity>

		<!-- [START gcm_receiver] -->
		<receiver
			android:name="com.google.android.gms.gcm.GcmReceiver"
			android:exported="true"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE"/>

				<category android:name="com.marked.pixsee"/>
			</intent-filter>
		</receiver>
		<!-- [END gcm_receiver] -->
		<!-- [START gcm_listener] -->
		<service
			android:name=".service.GCMListenerService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE"/>
			</intent-filter>
		</service>
		<!-- [END gcm_listener] -->
		<!-- [START instanceId_listener] -->
		<service
			android:name=".service.GCMInstanceIDListenerService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.google.android.gms.iid.InstanceID"/>
			</intent-filter>
		</service>
		<!-- [END instanceId_listener] -->
		<service
			android:name=".service.LogInRegistrationIntentService"
			android:exported="false"/>

		<activity
			android:name=".signup.SignUpActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".login.LogInActivity"
			android:screenOrientation="portrait"/>

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="578f43a0aa4a22391ecc912451e1514f1af55ce4"/>

		<activity
			android:name=".frienddetail.ImageFullscreenActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/title_activity_fullscreen"
			android:theme="@style/FullscreenTheme"


		/>
	</application>

</manifest>
